// Change a variable and append !default to guard it from being overridden
//$primary: #aaff00 !default;
$body-background: #b8bcc0 !default;
$primary: #1991eb !default;
$primary-lighter: #36c4f7 !default;
$primary-active: #1dbdf6 !default;
$primary-active-lighter: #1383d8 !default;
$primary-active-darker: #0097e3 !default;
$secondary: #ffffff !default;
$tertiary: #50e537 !default;
$tertiary-darker: #25a20f !default;
$tertiary-active: #3ce220 !default;
$tertiary-active-darker: #208b0d !default;
$selection-color-background: #dfe1e5 !default;
$selection-color-checked: #50e537 !default;
$selection-color-checked-darker: #25a20f !default;
$menu-list-item-selected-color: #99b9ec !default;
$menu-close-color: #c5d0de !default;
$menu-background-color: #005783 !default;
$menu-item-color: #becadb !default;
$menu-item-icon-color: #a5dcff !default;
$menu-border: rgba(197, 208, 222, 0.125) !default;
$menu-border-opaque: rgba(197, 208, 222, 0) !default;
$menu-border-opaque-25: rgba(197, 208, 222, 0.25) !default;
$menu-border-opaque-8: rgba(197, 208, 222, 0) !default;
$header: #ffffff !default;
$header-hover: #cccccc !default;
$header-secondary: #e6e6e6 !default;
$success: #4ab55b !default;
$info: #1991eb !default;
$warning: #f7981c !default;
$danger: #d22b32 !default;
$error: #d22b32 !default;
$progression-color: #848c98 !default;
$progression-border-color: #e6eaee !default;
$progression-current: #354052 !default;
$progression-shadow: rgba(55, 58, 60, 0.08) !default;
$tags-color-1: #0c5100 !default;
$tags-color-2: #138100 !default;
$tags-color-3: #27aa11 !default;
$tags-color-4: #6fcc5f !default;
$blue: #1991eb !default;
$indigo: #6610f2 !default;
$purple: #9b479f !default;
$pink: #e83e8c !default;
$red: #d22b32 !default;
$orange: #d9831f !default;
$yellow: #ffc107 !default;
$green: #4ab55b !default;
$teal: #20c997 !default;
$cyan: #1991eb !default;
$white: #ffffff !default;
$pagination-border-color: #eeeeee !default;
$gray: #777777 !default;
$gray-dark: #373a3c !default;
$light: #ffffff !default;
$dark: #333f52 !default;
$dark-lighter: #475771 !default;
$black-text: #354052 !default;
$white-text: #ffffff !default;
$gray-darker: #7f8fa4 !default;
$gray-lighter: #c5d0de !default;
$dark-darker: #1f2733 !default;

@import '../lib/spoon-ui';
