.list-container,
.grid-container {
  background: white;
  border: 1px solid grey;
  border-radius: 4px;
  height: 250px;
}
.item-example {
  padding: 4px;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
  height: 32px;
}
.menu-container {
  background: white;
  border: 1px solid grey;
  border-radius: 4px;
  height: 250px;
  width: 200px;
}
